.box {
    width: 50vw;
    height: 60vh;
    background-color: #83cc83;
  }
  .boxTwo {
    width: 50%;
    height: 50%;
    background-color: light #d88484;
  }
  .boxThree {
    font-size: 3em;
    background-color: light #4040a3;
  }
  .boxFour {
    font-size: 2rem;
    background-color: #e7e757;
  }